<!DOCTYPE html>
<html>
  <head>
    <title>Simpleblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Press+Start+2P' %>
    <%= stylesheet_link_tag 'https://unpkg.com/nes.css@latest/css/nes.min.css' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/notifications' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
